section.section.leasing.models
  .section__title.visually-hidden
    | models section title

  .site-container
    .slider-layout.leasing__layout
      .slider-layout__title.h3-text.h3-text--inherit-color
        | Похожие модели

      .slider-layout__body.leasing__body

        .slider-layout__sidebar
          .slider-layout__controls
            .button-slider-wrapper
              button.button-slider.button-slider--dark.button-slider--left.models__button.models__button--prev(type="button")
                +icon-mono('v-arrow-l')
              button.button-slider.button-slider--dark.button-slider--rigth.models__button.models__button--next(type="button")
                +icon-mono('v-arrow-r')

        .slider-layout__main
          .slider-layout__slider-wrapper.ads__outer-wrapper
            .slider-layout__slider.ads__slider.swiper.js-swiper-ads
              .slider-layout__list.ads__list.swiper-wrapper
                .ads__item.swiper-slide
                  .card
                    .card__body
                      .card__image
                        +pictureLazy('cards/img-1.jpg', 'карточка товара производителя "СпецТехника"')
                      .card__info
                        .card__heading
                          h5.card__title
                            | КАМАЗ 54901-004-92
                          ul.card__features
                            li.card__feature
                              span.card__feature-name
                                | Колесная формула
                              span.card__feature-value
                                | 4х2
                            li.card__feature
                              span.card__feature-name
                                | Тип ошинковки
                              span.card__feature-value
                                | 2
                            li.card__feature
                              span.card__feature-name
                                | Г/п, т (наг./ССУ)
                              span.card__feature-value
                                | 10,82
                        .card__bottom
                          .card__price
                            span
                              | от 5 500 000 ₽
                          .card__controls
                            button.button-primary.button-primary--medium
                              | Заказать
                            a.card__link.primary-link(href="#")
                              +icon-mono('comparison')
                              span.link-text
                                | В сравнение
                .ads__item.swiper-slide
                  .card
                    .card__body
                      .card__image
                        +pictureLazy('cards/img-1.jpg', 'карточка товара производителя "СпецТехника"')
                      .card__info
                        .card__heading
                          h5.card__title
                            | КАМАЗ 54901-004-92
                          ul.card__features
                            li.card__feature
                              span.card__feature-name
                                | Колесная формула
                              span.card__feature-value
                                | 4х2
                            li.card__feature
                              span.card__feature-name
                                | Тип ошинковки
                              span.card__feature-value
                                | 2
                            li.card__feature
                              span.card__feature-name
                                | Г/п, т (наг./ССУ)
                              span.card__feature-value
                                | 10,82
                        .card__bottom
                          .card__price
                            span
                              | от 5 500 000 ₽
                          .card__controls
                            button.button-primary.button-primary--medium
                              | Заказать
                            a.card__link.primary-link(href="#")
                              +icon-mono('comparison')
                              span.link-text
                                | В сравнение
                .ads__item.swiper-slide
                  .card
                    .card__body
                      .card__image
                        +pictureLazy('cards/img-1.jpg', 'карточка товара производителя "СпецТехника"')
                      .card__info
                        .card__heading
                          h5.card__title
                            | КАМАЗ 54901-004-92
                          ul.card__features
                            li.card__feature
                              span.card__feature-name
                                | Колесная формула
                              span.card__feature-value
                                | 4х2
                            li.card__feature
                              span.card__feature-name
                                | Тип ошинковки
                              span.card__feature-value
                                | 2
                            li.card__feature
                              span.card__feature-name
                                | Г/п, т (наг./ССУ)
                              span.card__feature-value
                                | 10,82
                        .card__bottom
                          .card__price
                            span
                              | от 5 500 000 ₽
                          .card__controls
                            button.button-primary.button-primary--medium
                              | Заказать
                            a.card__link.primary-link(href="#")
                              +icon-mono('comparison')
                              span.link-text
                                | В сравнение
                .ads__item.swiper-slide
                  .card
                    .card__body
                      .card__image
                        +pictureLazy('cards/img-1.jpg', 'карточка товара производителя "СпецТехника"')
                      .card__info
                        .card__heading
                          h5.card__title
                            | КАМАЗ 54901-004-92
                          ul.card__features
                            li.card__feature
                              span.card__feature-name
                                | Колесная формула
                              span.card__feature-value
                                | 4х2
                            li.card__feature
                              span.card__feature-name
                                | Тип ошинковки
                              span.card__feature-value
                                | 2
                            li.card__feature
                              span.card__feature-name
                                | Г/п, т (наг./ССУ)
                              span.card__feature-value
                                | 10,82
                        .card__bottom
                          .card__price
                            span
                              | от 5 500 000 ₽
                          .card__controls
                            button.button-primary.button-primary--medium
                              | Заказать
                            a.card__link.primary-link(href="#")
                              +icon-mono('comparison')
                              span.link-text
                                | В сравнение
                .ads__item.swiper-slide
                  .card
                    .card__body
                      .card__image
                        +pictureLazy('cards/img-1.jpg', 'карточка товара производителя "СпецТехника"')
                      .card__info
                        .card__heading
                          h5.card__title
                            | КАМАЗ 54901-004-92
                          ul.card__features
                            li.card__feature
                              span.card__feature-name
                                | Колесная формула
                              span.card__feature-value
                                | 4х2
                            li.card__feature
                              span.card__feature-name
                                | Тип ошинковки
                              span.card__feature-value
                                | 2
                            li.card__feature
                              span.card__feature-name
                                | Г/п, т (наг./ССУ)
                              span.card__feature-value
                                | 10,82
                        .card__bottom
                          .card__price
                            span
                              | от 5 500 000 ₽
                          .card__controls
                            button.button-primary.button-primary--medium
                              | Заказать
                            a.card__link.primary-link(href="#")
                              +icon-mono('comparison')
                              span.link-text
                                | В сравнение
                .ads__item.swiper-slide
                  .card
                    .card__body
                      .card__image
                        +pictureLazy('cards/img-1.jpg', 'карточка товара производителя "СпецТехника"')
                      .card__info
                        .card__heading
                          h5.card__title
                            | КАМАЗ 54901-004-92
                          ul.card__features
                            li.card__feature
                              span.card__feature-name
                                | Колесная формула
                              span.card__feature-value
                                | 4х2
                            li.card__feature
                              span.card__feature-name
                                | Тип ошинковки
                              span.card__feature-value
                                | 2
                            li.card__feature
                              span.card__feature-name
                                | Г/п, т (наг./ССУ)
                              span.card__feature-value
                                | 10,82
                        .card__bottom
                          .card__price
                            span
                              | от 5 500 000 ₽
                          .card__controls
                            button.button-primary.button-primary--medium
                              | Заказать
                            a.card__link.primary-link(href="#")
                              +icon-mono('comparison')
                              span.link-text
                                | В сравнение
