section.leasing-section.cat-layout
  .site-container
    .section__breadcrumbs.breadcrumbs
      ul.breadcrumbs__list
        li.breadcrumbs__item
          a.breadcrumbs__link( href="/" )
            | Главная
        li.breadcrumbs__item
          a.breadcrumbs__link.breadcrumbs__link--active( href="#" )
            | Лизинг

    .cat-layout__body.category__body.leasing-section__body
      .category__title
        h1.h1-text.h1-text--small.section__title.leasing-section__title
          | Лизинг
      .cat-layout__container.leasing-section__container
        .cat-layout__sidebar.leasing-section__sidebar
          .leasing-section__small-text
            p
              | Лизинг — это вид финансовых услуг, форма кредитования при
              | приобретении основных фондов предприятиями. По сути, это
              | долгосрочная аренда имущества с последующим выкупом по остаточной
              | стоимости.
            p
              | Под финансирование попадают юридические лица и ИП со сроком
              | регистрации бизнеса от 6 месяцев, поручительство и ликвидный
              | залог не требуется.

        .cat-layout__main.leasing-section__main
          .leasing-section__block
            h4.h4-text.leasing-section__list-title
              | На сегодняшний день самым распространенным и безопасным способом
              | приобретения любой спецтехники является лизинг. При покупке в
              | лизинг клиент получает множество выгод, вот к примеру две основные.

            .leasing-section__small-text.leasing-section__small-text--hidden
              p
                | Лизинг — это вид финансовых услуг, форма кредитования при
                | приобретении основных фондов предприятиями. По сути, это
                | долгосрочная аренда имущества с последующим выкупом по остаточной
                | стоимости.
              p
                | Под финансирование попадают юридические лица и ИП со сроком
                | регистрации бизнеса от 6 месяцев, поручительство и ликвидный

            ul.leasing-section__list.leasing-section__list--wrap
              li.leasing-section__item.leasing-section__item--big
                .leasing-section__number
                  span.leasing-section__span
                    | 1
                .leasing-section__text
                  | Экономия
                  br
                  | по налогам
                .leasing-section__image
                  +icon-multi('leasimg-1')

              li.leasing-section__item.leasing-section__item--big
                .leasing-section__number
                  span.leasing-section__span
                    | 2
                .leasing-section__text
                  | Скидки на технику при
                  br
                  | оформлении  по
                  br
                  | гос.программам
                .leasing-section__image
                  +icon-multi('leasimg-2')
          .leasing-section__block.js-leasing-section-swiper
            h4.h4-text.leasing-section__list-title
              | Наша компания является партнером всех ключевых лизинговых компаний.
              | Персонально для наших клиентов они смогут предложить:
            ul.leasing-section__list.leasing-section__list--row
              li.leasing-section__item.leasing-section__item--small
                .leasing-section__number
                  +icon-multi('tick-b')
                .leasing-section__text
                  | Отсрочку платежей
                  br
                  | и гибкий график
                  br
                  | погашения

              li.leasing-section__item.leasing-section__item--small
                .leasing-section__number
                  +icon-multi('tick-b')
                .leasing-section__text
                  | Специальные
                  br
                  | программы

              li.leasing-section__item.leasing-section__item--small
                .leasing-section__number
                  +icon-multi('tick-b')
                .leasing-section__text
                  | Помощь в сборе
                  br
                  | документов

              li.leasing-section__item.leasing-section__item--small
                .leasing-section__number
                  +icon-multi('tick-b')
                .leasing-section__text
                  | Оперативное
                  br
                  | рассмотрение от 2
                  br
                  | часов до 2х суток
