section.section.error
  .site-container
    .error__wrapper
      h3.error__title.h3-text
        | К сожалению, такой страницы <br> не существует
      p.error__text
        | Проверьте правильность ссылки <br> или вернитесь на главную
      a.error__btn.button-primary(href="#")
        | НА ГЛАВНУЮ
      +imgLazy("assets/images/error/error-img.png")(class="error__img" width="516px" hight="218px")
