section.section.about-company
  .site-container
    .section__breadcrumbs.breadcrumbs.breadcrumbs--light
      ul.breadcrumbs__list
        li.breadcrumbs__item
          a( href="/" ).breadcrumbs__link
            | Главная
        li.breadcrumbs__item
          a( href="#" ).breadcrumbs__link.breadcrumbs__link--active
            | О компании
    h1.about-company__title.h3-text
      | СпецТехника — официальный дилер крупнейших в России заводов-изготовителей спецтехники на шасси КамАЗ.
