extends layout/default.pug

block variables
  - const bodyClass = "page-home"
  - const headerClass = "header header--main fix-block"
  - const pageTitle = "Главная"
  - const siteLang = "ru"

block content
  include pages/index/main.pug
