extends layout/default.pug

block variables
  - const bodyClass = "page-contacts"
  - const headerClass = "header header--simple"
  - const pageTitle = "Контакты"
  - const siteLang = "ru"

block content
  include pages/contacts/main.pug
