extends layout/default.pug

block variables
  - const bodyClass = "page-video-reviews"
  - const headerClass = "header header--simple"
  - const pageTitle = "Видеообзоры"
  - const siteLang = "ru"

block content
  include pages/video-reviews/main.pug
