extends layout/default.pug

block variables
  - const bodyClass = "page-catalog"
  - const headerClass = "header header--simple"
  - const pageTitle = "Каталог"
  - const siteLang = "ru"

block content
  include pages/catalog/main.pug
