extends layout/default.pug

block variables
  - const bodyClass = "page-services"
  - const headerClass = "header header--simple"
  - const pageTitle = "Услуги"
  - const siteLang = "ru"

block content
  include pages/services/main.pug
