extends layout/default.pug

block variables
  - const bodyClass = "page-our-partners"
  - const headerClass = "header header--simple"
  - const pageTitle = "Наши партнеры"
  - const siteLang = "ru"

block content
  include pages/our-partners/main.pug
