extends layout/default.pug

block variables
  - const bodyClass = "page-about-company"
  - const headerClass = "header header--simple header--pos-abs fix-block"
  - const pageTitle = "О компании"
  - const siteLang = "ru"

block content
  include pages/about-company/main.pug
