extends layout/default.pug

block variables
  - const bodyClass = "page-product-card"
  - const headerClass = "header header--simple"
  - const pageTitle = "Карточка товара"
  - const siteLang = "ru"

block content
  include pages/product-card/main.pug
