extends layout/default.pug

block variables
  - const bodyClass = "page-product-card"
  - const headerClass = "header header--simple "
  - const pageTitle = "Лизинг"
  - const siteLang = "ru"

block content
  include pages/leasing/main.pug
