extends layout/default.pug

block variables
  - const bodyClass = "page-category"
  - const headerClass = "header header--simple"
  - const pageTitle = "Категория"
  - const siteLang = "ru"

block content
  include pages/category/main.pug
