section.section.contacts
  .site-container
    .section__breadcrumbs.breadcrumbs
      ul.breadcrumbs__list
        li.breadcrumbs__item
          a( href="/" ).breadcrumbs__link
            | Главная
        li.breadcrumbs__item
          a( href="#" ).breadcrumbs__link.breadcrumbs__link--active
            | Контакты
    h1.contacts__title.h1-text.h1-text--small
        | Контакты
    .cat-layout__container
      .cat-layout__main
        ul.contacts__list
          li.contacts__list-item
            span.contacts__list-item-title
              | Адрес
            .contacts__list-item-text
              | Набережные Челны Транспортный проезд 2
          li.contacts__list-item
            span.contacts__list-item-title
              | Режим работы
            .contacts__list-item-text.contacts__list-item-text-date
              | Будни, с 8.00 до 20.00
          li.contacts__list-item
            span.contacts__list-item-title
              | Потдержка покупателей
            a.primary-link.contacts__list-item-email(href="mailto:nfo@teh-spec.ru")
              span.link-text
                | nfo@teh-spec.ru
        ul.contacts__list
          li.contacts__list-item
            span.contacts__list-item-title
              | Отдел продаж
            a.primary-link.contacts__list-item-telephone(href="tel:+78005505812")
              span.link-text
                | +7 (800) 550-58-12
            a.primary-link.contacts__list-item-email(href="mailto:1@teh-spec.ru")
              span.link-text
                | 1@teh-spec.ru
          li.contacts__list-item
            span.contacts__list-item-title
              | Бухгатлерия
            a.primary-link.contacts__list-item-telephone(href="tel:+79509453398")
              span.link-text
                | +7 (950) 945-33-98
            a.primary-link.contacts__list-item-email(href="mailto:buh@teh-spec.ru")
              span.link-text
                | buh@teh-spec.ru
