main.page-main.main
  include intro.pug
  include advantages.pug
  include simple-image.pug
  include catalog.pug
  include ../../parts/form.pug
  include offers.pug
  include reviews.pug
  include leasing.pug
  include achievements.pug
