section.section.reviews.section--black
  .section__title.visually-hidden
    | section title

  .site-container
    .slider-layout
      .slider-layout__title.h2-text.h2-text--inherit-color
        | Видео-отзывы

      .slider-layout__body
        .slider-layout__sidebar
          .link-tip
            .link-tip__head
              .link-tip__text
                | Поддержиаем репутацию среди
                | наших клиентов на высоком уровне

          .slider-layout__controls
            .button-slider-wrapper
              button.button-slider.button-slider--left.offers__button.reviews__button--prev(type="button")
                +icon-mono('v-arrow-l')
              button.button-slider.button-slider--rigth.offers__button.reviews__button--next(type="button")
                +icon-mono('v-arrow-r')

        .slider-layout__main
          .slider-layout__slider-wrapper.reviews__outer-wrapper
            .slider-layout__slider.reviews__slider.swiper.js-swiper-reviews
              .slider-layout__list.swiper-wrapper
                .slider-layout__item.swiper-slide
                  .link-card
                    .link-card__body
                      .link-card__image.link-card__image--video
                        +pictureLazy('cards/img-4.jpg', 'акции производителя "СпецТехника"')
                        a.button-play(data-fancybox-plyr, href="http://media.w3.org/2010/05/sintel/trailer.mp4")
                          +icon-mono('play')
                      .link-card__info
                        a.link-card__title(href="#")
                          | Отзыв о покупке КамАЗа 4308-3083&nbsp;
                          | рефрижератора
                        .link-card__text
                          | Михаил, 44 года
