section.catalog.cat-layout
  .section__title.visually-hidden
    | section main title

  .site-container
    .section__breadcrumbs.breadcrumbs
      ul.breadcrumbs__list
        li.breadcrumbs__item
          a( href="/" ).breadcrumbs__link
            | Главная
        li.breadcrumbs__item
          a( href="#" ).breadcrumbs__link.breadcrumbs__link--active
            | Каталог

    .cat-layout__body.catalog__body
      h1.h1-text.section__title.cat-layout__title
        | Каталог
      .cat-layout__container
        .cat-layout__sidebar
          .link-tip
            .link-tip__head.link-tip__head--non-mb
              .link-tip__icon
                +icon-multi('link-arrow')

              .link-tip__text
                | В нашем каталоге присутствуют&nbsp;более

        .cat-layout__main.cat-entry
          .cat-entry__list.cat-entry__list--wrap
            .cat-entry__item
              a.cat-entry__link(href="#")
                .cat-entry__body
                  .cat-entry__back-image
                    img(src="./assets/images/cat-entry/blue-image.png", alt="")

                  .cat-entry__picture-wrapper
                    .cat-entry__picture
                      img(src="./assets/images/cat-entry/track-image-2.png", alt="")

                span.cat-entry__title
                  | Седельные тягачи

            .cat-entry__item
              a.cat-entry__link(href="#")
                .cat-entry__body
                  .cat-entry__back-image
                    img(src="./assets/images/cat-entry/blue-image.png", alt="")

                  .cat-entry__picture-wrapper
                    .cat-entry__picture
                      img(src="./assets/images/cat-entry/track-image-3.png", alt="")

                span.cat-entry__title
                  | Камазы бортовые с КМУ

            .cat-entry__item
              a.cat-entry__link(href="#")
                .cat-entry__body
                  .cat-entry__back-image
                    img(src="./assets/images/cat-entry/blue-image.png", alt="")

                  .cat-entry__picture-wrapper
                    .cat-entry__picture
                      img(src="./assets/images/cat-entry/track-image-1.png", alt="")

                span.cat-entry__title
                  | Фургоны

            .cat-entry__item
              a.cat-entry__link(href="#")
                .cat-entry__body
                  .cat-entry__back-image
                    img(src="./assets/images/cat-entry/blue-image.png", alt="")

                  .cat-entry__picture-wrapper
                    .cat-entry__picture
                      img(src="./assets/images/cat-entry/track-image-1.png", alt="")

                span.cat-entry__title
                  | Камазы бортовые с КМУ

            .cat-entry__item
              a.cat-entry__link(href="#")
                .cat-entry__body
                  .cat-entry__back-image
                    img(src="./assets/images/cat-entry/blue-image.png", alt="")

                  .cat-entry__picture-wrapper
                    .cat-entry__picture
                      img(src="./assets/images/cat-entry/track-image-2.png", alt="")

                span.cat-entry__title
                  | Зерновозы

            .cat-entry__item
              a.cat-entry__link(href="#")
                .cat-entry__body
                  .cat-entry__back-image
                    img(src="./assets/images/cat-entry/blue-image.png", alt="")

                  .cat-entry__picture-wrapper
                    .cat-entry__picture
                      img(src="./assets/images/cat-entry/track-image-3.png", alt="")

                span.cat-entry__title
                  | Камазы бортовые с КМУ

            .cat-entry__item
              a.cat-entry__link(href="#")
                .cat-entry__body
                  .cat-entry__back-image
                    img(src="./assets/images/cat-entry/blue-image.png", alt="")

                  .cat-entry__picture-wrapper
                    .cat-entry__picture
                      img(src="./assets/images/cat-entry/track-image-1.png", alt="")

                span.cat-entry__title
                  | Зерновозы

            .cat-entry__item
              a.cat-entry__link(href="#")
                .cat-entry__body
                  .cat-entry__back-image
                    img(src="./assets/images/cat-entry/blue-image.png", alt="")

                  .cat-entry__picture-wrapper
                    .cat-entry__picture
                      img(src="./assets/images/cat-entry/track-image-1.png", alt="")

                span.cat-entry__title
                  | Камазы бортовые с КМУ

            .cat-entry__item
              a.cat-entry__link(href="#")
                .cat-entry__body
                  .cat-entry__back-image
                    img(src="./assets/images/cat-entry/blue-image.png", alt="")

                  .cat-entry__picture-wrapper
                    .cat-entry__picture
                      img(src="./assets/images/cat-entry/track-image-2.png", alt="")

                span.cat-entry__title
                  | Седельные тягачи

            .cat-entry__item
              a.cat-entry__link(href="#")
                .cat-entry__body
                  .cat-entry__back-image
                    img(src="./assets/images/cat-entry/blue-image.png", alt="")

                  .cat-entry__picture-wrapper
                    .cat-entry__picture
                      img(src="./assets/images/cat-entry/track-image-3.png", alt="")

                span.cat-entry__title
                  | Камазы бортовые с КМУ

            .cat-entry__item
              a.cat-entry__link(href="#")
                .cat-entry__body
                  .cat-entry__back-image
                    img(src="./assets/images/cat-entry/blue-image.png", alt="")

                  .cat-entry__picture-wrapper
                    .cat-entry__picture
                      img(src="./assets/images/cat-entry/track-image-1.png", alt="")

                span.cat-entry__title
                  | Фургоны

            .cat-entry__item
              a.cat-entry__link(href="#")
                .cat-entry__body
                  .cat-entry__back-image
                    img(src="./assets/images/cat-entry/blue-image.png", alt="")

                  .cat-entry__picture-wrapper
                    .cat-entry__picture
                      img(src="./assets/images/cat-entry/track-image-1.png", alt="")

                span.cat-entry__title
                  | Камазы бортовые с КМУ

            .cat-entry__item
              a.cat-entry__link(href="#")
                .cat-entry__body
                  .cat-entry__back-image
                    img(src="./assets/images/cat-entry/blue-image.png", alt="")

                  .cat-entry__picture-wrapper
                    .cat-entry__picture
                      img(src="./assets/images/cat-entry/track-image-2.png", alt="")

                span.cat-entry__title
                  | Зерновозы