.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #1e1e1e, $alpha: 60%);
  visibility: hidden;
  opacity: 0;
  transition: opacity var(--transition-time), visibility var(--transition-time);

  &--big-index {
    z-index: 150;
  }

  &.is-open {
    visibility: visible;
    opacity: 1;
    transition: opacity var(--transition-time), visibility var(--transition-time);
  }

  @include mq(sm, max) {
    background-color: var(--color-white);
  }

  &--search {
    @include mq(sm, max) {
      background-color: rgba($color: #1e1e1e, $alpha: 60%);
    }
  }

  &.modal-loading {
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 2;

      @include mq(sm) {
        z-index: 151;
      }
    }

    &:after {
      content: '';
      width: 6.2rem;
      height: 6.2rem;
      background-image: url("data:image/svg+xml,%3Csvg width='62' height='53' viewBox='0 0 62 53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M62 31C62 25.902 60.7427 20.8827 58.3396 16.3867C55.9364 11.8907 52.4615 8.05673 48.2227 5.22444C43.9839 2.39216 39.112 0.648963 34.0385 0.149274C28.9651 -0.350416 23.8467 0.408822 19.1368 2.35973C14.4269 4.31065 10.2708 7.39302 7.03668 11.3338C3.80255 15.2746 1.59022 19.9522 0.595657 24.9522C-0.39891 29.9522 -0.145016 35.1204 1.33485 39.9988C2.81471 44.8773 5.47487 49.3155 9.07969 52.9203L11.7069 50.2931C8.53416 47.1203 6.19283 43.214 4.89033 38.9203C3.58783 34.6265 3.36437 30.0778 4.23973 25.6771C5.1151 21.2763 7.06227 17.1593 9.90877 13.6909C12.7553 10.2224 16.4132 7.50947 20.5587 5.79238C24.7041 4.07529 29.209 3.40705 33.6744 3.84685C38.1397 4.28665 42.4277 5.82092 46.1585 8.31374C49.8893 10.8066 52.9477 14.181 55.0628 18.1382C57.1779 22.0953 58.2845 26.513 58.2845 31H62Z' fill='%23D9D9D9'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
      z-index: 3;
      -webkit-animation: load3 1.4s infinite linear;
      animation: load3 1.4s infinite linear;

      @include mq(sm) {
        z-index: 152;
        transform: translate(-50%, -43%);
      }
    }
  }

  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  .site-container {
    height: 100%;
  }

  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    width: 100%;
    max-width: 108rem;
    height: auto;
    overflow: auto;
    max-height: 100%;
    background-color: var(--color-white);
    border-radius: 1.6rem;
    box-shadow: 0 0 1rem rgba($color: #000, $alpha: 10%);
    transform: translate(-50%, -50%);

    @include mq(xl, max) {
      max-width: 80rem;
    }

    @include mq(md, max) {
      max-width: 100%;
    }

    @include mq(sm, max) {
      position: fixed;
      z-index: 90;
      height: 100%;
      border-radius: unset;
    }

    &.modal-open {
      display: block;
    }

    &--categories {
      top: 8rem;
      bottom: 2.5rem;
      left: 4rem;
      transform: unset;
      max-height: 71.6rem;
      max-width: 63rem;
      overflow: hidden;
      background-color: transparent;
      border-radius: unset;
      box-shadow: unset;

      .modal__content {
        height: 100%;
        max-width: 40.5rem;
        padding: 0;
        border-radius: 1.6rem;
        background-color: var(--color-white);
        box-shadow: 0 0 1rem rgba($color: #000, $alpha: 10%);

        @include mq(sm, max) {
          width: 100%;
          max-width: unset;
          border-radius: unset;
          box-shadow: unset;
        }
      }

      @include mq(sm, max) {
        top: 0;
        left: 0;
        width: 100%;
        margin-top: 70px;
        max-height: unset;
        max-width: 100%;
        height: calc(100% - 70px);
        box-shadow: unset;
      }
    }

    &--search {
      top: 8rem;
      left: 4rem;
      transform: unset;
      max-width: max-content;
      max-width: 41vw;
      max-height: 8rem;

      .modal__content {
        height: 100%;
        padding: 0;
        border-radius: 1.6rem;
        background-color: var(--color-white);
        box-shadow: 0 0 1rem rgba($color: #000, $alpha: 10%);
      }

      @include mq(sm, max) {
        left: 0 !important;
        padding: 0 16px;
        max-width: 100%;
        max-height: 6.4rem;
        background-color: transparent;
      }
    }

    &--nav {
      top: 8rem;
      left: 4rem;
      transform: unset;
      overflow: hidden;
      max-width: 27.5rem;

      .modal__content {
        overflow: auto;
        padding: 2.8rem 2.4rem;
        background-color: var(--color-white);
        border-radius: 1rem;

        @include mq(sm, max) {
          padding: 0 16px 16px;
          width: 100%;
          border-radius: unset;
          box-shadow: unset;
        }
      }

      @include mq(sm, max) {
        top: 0;
        left: 0;
        width: 100%;
        margin-top: 70px;
        max-height: unset;
        max-width: unset;
        height: calc(100% - 70px);
        box-shadow: unset;
      }
    }
  }

  &__content {
    position: relative;
    padding: 5rem 2rem 6rem 5rem;

    @include mq(xl, max) {
      padding: 4rem 3rem 4rem 3rem;
    }

    @include mq(sm, max) {
      padding: 40px 16px 20px 16px;
    }

    @include mq(sm, max) {
      height: 100%;
    }
  }

  &__close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.2rem;
    height: 5.2rem;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;

    .icon {
      width: 100%;
      height: 100%;
      stroke: var(--color-grayscale-900);

      @include mq(sm, max) {
        stroke-width: 2px;
      }
    }

    &:hover {
      /** span {
        background-color: var(--color-light-green);
      }
      **/
    }

    &:active {
      /**  span {
        background-color: var(--color-dark-green);
      } **/
    }

    @include mq(sm, max) {
      top: 16px;
      right: 12px;
      width: 36px;
      height: 36px;
    }
  }

  &__form {
    padding: 0;
    z-index: 1;
    background-color: unset;

    &::after {
      content: none;
    }

    @include mq(sm, max) {
      height: 100%;
      padding: 0;
    }

    .form__body {
      color: var(--color-grayscale-900);

      @include mq(sm, max) {
        height: 100%;
      }
    }

    .form__heading {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 3rem;

      @include mq(sm, max) {
        margin-bottom: 46px;
      }

      .form__contacts {
        display: block;
        margin-top: 2.5rem;

        @include mq(sm, max) {
          display: none;
        }
      }
    }

    .form__titles {
      display: flex;
      flex-direction: column;
    }

    .form__title {
      margin-bottom: 2.7rem;
      font-weight: 500;
      letter-spacing: -0.03em;

      @include mq(sm, max) {
        margin-bottom: 20px;
        max-width: 95%;

        br {
          display: none;
        }
      }
    }

    .form__text {
      @include mq(sm, max) {
        max-width: 30rem;
      }
    }

    .form__controls {
      padding-top: 11rem;
      flex: 0 0 56%;

      @include mq(xl, max) {
        flex: 1 1 auto;
        gap: 5rem;
        padding-top: 0;
        margin-top: 0;
      }

      @include mq(sm, max) {
        flex: 0 1 auto;
      }
    }

    .form__inputs {
      @include mq(xl, max) {
        gap: 5rem;
      }
    }

    .form__submit {
      gap: 2.4rem;
    }

    .form__submit-text {
      color: var(--color-grayscale-400);
    }

    .form__contacts {
      display: none;

      @include mq(sm, max) {
        display: block;
        margin-top: 42px;

        .nav-popup__phone {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-between;
          width: 100%;
        }

        .nav-popup__label {
          flex-basis: 100%;
          margin-bottom: 15px;
        }

        .nav-popup__number,
        .nav-popup__mail {
          font-size: 18px;
        }

        .nav-popup__number {
          margin-bottom: 0;
        }

        .nav-popup__mail {
          margin-left: 44px;
          margin-right: auto;
        }
      }
    }

    .form__image {
      @include mq(xl, max) {
        display: none;
      }
    }
  }

  &__response {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7rem 0 10.5rem;

    @include mq(sm, max) {
      height: 100%;
    }
  }

  &__response-body {
    margin: 4.8rem 0;

    h4,
    p {
      text-align: center;
    }

    h4 {
      margin-bottom: 1.6rem;

      @include mq(sm, max) {
        margin-bottom: 16px;
      }
    }

    p {
      @include mq(sm, max) {
        font-size: 14px;
      }
    }

    @include mq(sm, max) {
      margin: 32px 0 40px;
    }
  }

  &__status-icon {
    width: 8rem;
    height: 8rem;

    @include mq(sm, max) {
      width: 65px;
      height: 65px;
    }

    .icon {
      width: 100%;
      height: 100%;
    }
  }

  &__categories-menu {
    height: 100%;
    color: var(--color-grayscale-900) !important;
  }

  &__categories-link {
    position: fixed;

    span {
      &::after {
        content: none;
      }
    }

    @include mq(sm, max) {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__categories-button {
    display: none;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: unset;
    z-index: 100;
    border: 1px solid var(--color-grayscale-900);
    border-radius: .6rem;
    background-color: var(--color-white);

    .icon {
      width: 28px;
      height: 28px;
    }

    @include mq(sm, max) {
      display: flex;
    }
  }

  &__searchbar {
    width: 100%;
    height: 100%;
    padding: 2rem;

    @include mq(sm, max) {
      height: 90%;
      padding: 1.2rem;
    }
  }
}
