.site-container
  .modal__container.modal__container--categories(data-target="cat-popup")
    .modal__content
      button.button-reset.modal__close-btn.modal-close.visually-hidden(type="button")
        +icon-mono('delete')
        
      .modal__categories-menu
        .categories-menu
          .categories-menu__head
            .categories-menu__title
              | Каталог
              .categories-menu__title-icon
                +icon-mono('arrow-right')
            .categories-menu__count  
              span.categories-menu__count-value 
                | 150
              span.categories-menu__count-text
                | + моделей

          .categories-menu__list-wrapper.swiper
            ul.categories-menu__list.swiper-wrapper

              li.categories-menu__item 
                a.categories-menu__link(href="#")
                  span.categories-menu__text
                    | Седельные тягачи
                    span.categories-menu__index-number
                      | 24
                  span.categories-menu__arrow 
                    +icon-mono('arrow-right')
                .categories-menu__submenu
                  ul.categories-menu__submenu-list
                    li.categories-menu__submenu-item
                      a.categories-menu__submenu-link(href="#")
                        span.categories-menu__submenu-text
                          | Седельные тягачи 
                    li.categories-menu__submenu-item
                      a.categories-menu__submenu-link(href="#")
                        span.categories-menu__submenu-text
                          | Седельные тягачи 
                    li.categories-menu__submenu-item
                      a.categories-menu__submenu-link(href="#")
                        span.categories-menu__submenu-text
                          | Седельные тягачи       

              li.categories-menu__item 
                a.categories-menu__link(href="#")
                  span.categories-menu__text
                    | Самосвалы
                    span.categories-menu__index-number
                      | 24
                  span.categories-menu__arrow 
                    +icon-mono('arrow-right')
                .categories-menu__submenu
                  ul.categories-menu__submenu-list
                    li.categories-menu__submenu-item
                      a.categories-menu__submenu-link(href="#")
                        span.categories-menu__submenu-text
                          | Самосвалы
                    li.categories-menu__submenu-item
                      a.categories-menu__submenu-link(href="#")
                        span.categories-menu__submenu-text
                          | Самосвалы
                    li.categories-menu__submenu-item
                      a.categories-menu__submenu-link(href="#")
                        span.categories-menu__submenu-text
                          | Самосвалы      

              li.categories-menu__item 
                a.categories-menu__link(href="#")
                  span.categories-menu__text
                    | Бортовые
                    span.categories-menu__index-number
                      | 24
                  span.categories-menu__arrow 
                    +icon-mono('arrow-right')
                .categories-menu__submenu
                  ul.categories-menu__submenu-list
                    li.categories-menu__submenu-item
                      a.categories-menu__submenu-link(href="#")
                        span.categories-menu__submenu-text
                          | Бортовые 
                    li.categories-menu__submenu-item
                      a.categories-menu__submenu-link(href="#")
                        span.categories-menu__submenu-text
                          | Бортовые 
                    li.categories-menu__submenu-item
                      a.categories-menu__submenu-link(href="#")
                        span.categories-menu__submenu-text
                          | Бортовые      

              li.categories-menu__item 
                a.categories-menu__link(href="#")
                  span.categories-menu__text
                    | Зерновозы
                    span.categories-menu__index-number
                      | 24
                  span.categories-menu__arrow 
                    +icon-mono('arrow-right')
                .categories-menu__submenu
                  ul.categories-menu__submenu-list
                    li.categories-menu__submenu-item
                      a.categories-menu__submenu-link(href="#")
                        span.categories-menu__submenu-text
                          | Зерновозы
                    li.categories-menu__submenu-item
                      a.categories-menu__submenu-link(href="#")
                        span.categories-menu__submenu-text
                          | Зерновозы
                    li.categories-menu__submenu-item
                      a.categories-menu__submenu-link(href="#")
                        span.categories-menu__submenu-text
                          | Зерновозы     

              li.categories-menu__item 
                a.categories-menu__link(href="#")
                  span.categories-menu__text
                    | Камазы с КМУ
                    span.categories-menu__index-number
                      | 24
                  span.categories-menu__arrow 
                    +icon-mono('arrow-right')
                .categories-menu__submenu
                  ul.categories-menu__submenu-list
                    li.categories-menu__submenu-item
                      a.categories-menu__submenu-link(href="#")
                        span.categories-menu__submenu-text
                          | Камазы с КМУ
                    li.categories-menu__submenu-item
                      a.categories-menu__submenu-link(href="#")
                        span.categories-menu__submenu-text
                          | Камазы с КМУ
                    li.categories-menu__submenu-item
                      a.categories-menu__submenu-link(href="#")
                        span.categories-menu__submenu-text
                          | Камазы с КМУ     

              li.categories-menu__item 
                a.categories-menu__link(href="#")
                  span.categories-menu__text
                    | Ломовозы
                    span.categories-menu__index-number
                      | 24
                  span.categories-menu__arrow 
                    +icon-mono('arrow-right')
                .categories-menu__submenu
                  ul.categories-menu__submenu-list
                    li.categories-menu__submenu-item
                      a.categories-menu__submenu-link(href="#")
                        span.categories-menu__submenu-text
                          | Ломовозы
                    li.categories-menu__submenu-item
                      a.categories-menu__submenu-link(href="#")
                        span.categories-menu__submenu-text
                          | Ломовозы
                    li.categories-menu__submenu-item
                      a.categories-menu__submenu-link(href="#")
                        span.categories-menu__submenu-text
                          | Ломовозы   

              li.categories-menu__item 
                a.categories-menu__link(href="#")
                  span.categories-menu__text
                    | Сортиментовозы
                    span.categories-menu__index-number
                      | 24
                  span.categories-menu__arrow 
                    +icon-mono('arrow-right')
                .categories-menu__submenu
                  ul.categories-menu__submenu-list
                    li.categories-menu__submenu-item
                      a.categories-menu__submenu-link(href="#")
                        span.categories-menu__submenu-text
                          | Сортиментовозы
                    li.categories-menu__submenu-item
                      a.categories-menu__submenu-link(href="#")
                        span.categories-menu__submenu-text
                          | Сортиментовозы
                    li.categories-menu__submenu-item
                      a.categories-menu__submenu-link(href="#")
                        span.categories-menu__submenu-text
                          | Сортиментовозы   

              li.categories-menu__item 
                a.categories-menu__link(href="#")
                  span.categories-menu__text
                    | Автобетоносмесители
                    span.categories-menu__index-number
                      | 24
                  span.categories-menu__arrow 
                    +icon-mono('arrow-right')
                .categories-menu__submenu
                  ul.categories-menu__submenu-list
                    li.categories-menu__submenu-item
                      a.categories-menu__submenu-link(href="#")
                        span.categories-menu__submenu-text
                          | Автобетоносмесители
                    li.categories-menu__submenu-item
                      a.categories-menu__submenu-link(href="#")
                        span.categories-menu__submenu-text
                          | Автобетоносмесители
                    li.categories-menu__submenu-item
                      a.categories-menu__submenu-link(href="#")
                        span.categories-menu__submenu-text
                          | Автобетоносмесители   

              li.categories-menu__item 
                a.categories-menu__link(href="#")
                  span.categories-menu__text
                    | Фургоны
                    span.categories-menu__index-number
                      | 24
                  span.categories-menu__arrow 
                    +icon-mono('arrow-right')
                .categories-menu__submenu
                  ul.categories-menu__submenu-list
                    li.categories-menu__submenu-item
                      a.categories-menu__submenu-link(href="#")
                        span.categories-menu__submenu-text
                          | Фургоны
                    li.categories-menu__submenu-item
                      a.categories-menu__submenu-link(href="#")
                        span.categories-menu__submenu-text
                          | Фургоны
                    li.categories-menu__submenu-item
                      a.categories-menu__submenu-link(href="#")
                        span.categories-menu__submenu-text
                          | Фургоны   

              li.categories-menu__item 
                a.categories-menu__link(href="#")
                  span.categories-menu__text
                    | Автокраны
                    span.categories-menu__index-number
                      | 24
                  span.categories-menu__arrow 
                    +icon-mono('arrow-right')
                .categories-menu__submenu
                  ul.categories-menu__submenu-list
                    li.categories-menu__submenu-item
                      a.categories-menu__submenu-link(href="#")
                        span.categories-menu__submenu-text
                          | Автокраны
                    li.categories-menu__submenu-item
                      a.categories-menu__submenu-link(href="#")
                        span.categories-menu__submenu-text
                          | Автокраны
                    li.categories-menu__submenu-item
                      a.categories-menu__submenu-link(href="#")
                        span.categories-menu__submenu-text
                          | Автокраны   

              li.categories-menu__item.categories-menu__item--no-list
                a.categories-menu__link(href="#")
                  span.categories-menu__text
                    | Коммунально-дорожная техника
                    span.categories-menu__index-number
                      | 24
                  span.categories-menu__arrow 
                    +icon-mono('arrow-right')

              li.categories-menu__item 
                a.categories-menu__link(href="#")
                  span.categories-menu__text
                    | Автоцистерна
                    span.categories-menu__index-number
                      | 24
                  span.categories-menu__arrow 
                    +icon-mono('arrow-right')
                .categories-menu__submenu
                  ul.categories-menu__submenu-list
                    li.categories-menu__submenu-item
                      a.categories-menu__submenu-link(href="#")
                        span.categories-menu__submenu-text
                          | Автоцистерна
                    li.categories-menu__submenu-item
                      a.categories-menu__submenu-link(href="#")
                        span.categories-menu__submenu-text
                          | Автоцистерна
                    li.categories-menu__submenu-item
                      a.categories-menu__submenu-link(href="#")
                        span.categories-menu__submenu-text
                          | Автоцистерна

              li.categories-menu__item.categories-menu__item--no-list
                a.categories-menu__link(href="#")
                  span.categories-menu__text
                    | Прицепы и полуприцепы
                    span.categories-menu__index-number
                      | 24
                  span.categories-menu__arrow 
                    +icon-mono('arrow-right')

              li.categories-menu__item.categories-menu__item--no-list
                a.categories-menu__link(href="#")
                  span.categories-menu__text
                    | Автомобили с пробегом
                    span.categories-menu__index-number
                      | 24
                  span.categories-menu__arrow 
                    +icon-mono('arrow-right')

            .categories-menu__scrollbar.swiper-scrollbar

          .categories-menu__bottom
            a.button-primary.button-primary--medium(href="#")
              +icon-mono('conf')
              | КОНФИГУРАТОР
